body {
            background-color: whitesmoke;
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        input {
            font-family: sans-serif;
            font-size: medium;
        }

        .question-container {
            background-color: white;
            padding: 2%;
        }

        .question-title {
            padding: 5%;
            font-size: larger;
        }

        .steps-container {
            /* margin: 40px 20px;
            padding: 20px; */
            text-align: center
        }

        .answer-button {
            border: #dcdcdc solid;
            background-color: whitesmoke;
            font-size: medium;
            padding: 3%;
            margin: 5% 0;
        }

        .answer-button-active {
            border: #dcdcdc solid 1px;
            background-color: whitesmoke;
            color: #005e6a;
            font-size: medium;
            padding: 3%;
            margin: 5% 0;
        }

        .answer-button-right {
            border: #27ae60 solid;
            background-color: #2ece72;
            color: white;
            font-size: medium;
            padding: 3%;
            margin: 5% 0;
        }

        .answer-button-wrong {
            border: #c0392b solid;
            background-color: #d03e2f;
            color: white;
            font-size: medium;
            padding: 3%;
            margin: 5% 0;
        }

        .next-button {
            background-color: #01bcd5;
            padding: 5%;
            border-radius: 1px;
            border: #dcdcdc solid 1px;
            bottom: 5%;
            right: 10%;
            font-size: medium;
            text-align: center;
            color: #005e6a;
            float: right;
            width: auto;
        }

        .back-button {
            background-color: #01bcd5;
            padding: 5%;
            border-radius: 1px;
            border: #dcdcdc solid 1px;
            bottom: 5%;
            right: 10%;
            font-size: medium;
            text-align: center;
            color: #005e6a;
            float: left;
            width: auto;
        }

        .active-step {
            background-color: #01bcd5;
            border: #dcdcdc solid 1px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            display: inline-block;
            margin: 10px;
        }

        .step {
            background-color: #dcdcdc;
            border: #dcdcdc solid 1px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            display: inline-block;
            margin: 10px;
        }

        #div0, #div1, #div2, #div8 {
            width: auto;
            height: auto;
            border-bottom: 1px solid #aaaaaa;
        }

        .column {
            float: right;
            padding: 10px;
        }

        .right {
            width: 100%;
            float: right;

        }
        .left {
            width: 100%;
            float: left;
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            clear: both;
            position: absolute;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;

        }

        .grid-item {
            text-align: center;
        }